<div class="container-fluid">
  <div class="jumbotron text-white bg-dark">
    <div class="page-header">
      <strong>
        <h1 class="text-white bg-dark">GithubSEARCH</h1>
      </strong>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">user App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink='/users' routerLinkActive='active'>users</a></li>
        <li><a routerLink='/about' routerLinkActive='active'>About</a></li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End of Navigation -->
<router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6" #searchBox>
      <span class="align-middle">
        <i class="fab fa-github-alt fa-5x"></i>
        <input type="text" class="form-control" placeholder="Search repos and users">
        <button type="button" class="btn btn-light mt-4" name="button"> Search </button>
      </span>
    </div>

    <div class="col-md-3">

    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6">
       <img src="{{user.avatar_url}}" alt="">
    </div>

    <div class="col-md-3">

    </div>

  </div>
</div>
