<div class="container-fluid">
  <div class="jumbotron">
    <strong>
      <p>GITHUBSearch</p>
    </strong>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6" #searchBox>
      <span class="align-middle">
        <i class="fab fa-github-alt fa-5x"></i>
        <input type="text" class="form-control" placeholder="Search repos and users">
        <button type="button" name="button"> Search </button>
      </span>
    </div>

    <div class="col-md-3">

    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6">
      <!-- <img src="{{user.avatar_url}}" alt=""> -->
    </div>

    <div class="col-md-3">

    </div>

  </div>
</div>
